body {
    background-color: #bbddcc;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-left: 30px;
}

h3 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

p {
    line-height: 1.5;
}

h2 {
    width: 70%;
    line-height: 1.5;
}


/* Navs */

.top-row {
    margin-left: 70%;
}

.nav-link {
    color: #000;
}

#section-divider {
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;
    width: 5%;
    box-shadow: none;
    margin: 7% 48%;
}


/* Title section */

.tb {
    margin-left: 10%;
}

.flag {
    width: 10%;
}

#title {
    padding: 20px 20px;
}

.profile-picture {
    border-radius: 100%;
    border: 1px solid #000;
    width: 15%;
    float: left;
    box-shadow: 0 20px 20px;
}

.profile-picture:hover {
    transform: scale(1.3);
}

.titleh1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

.bio {
    padding-left: 18%;
    line-height: 1.5;
}


/* Education Section */

#education {
    padding: 10px 20px;
}

.table {
    font-size: 1.5rem;
}


/* Certificate section */

.certificates-align {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 3;
}


/* Skills section */

.skills-align {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 3;
}


/* Contact me */

#contactme {
    text-align: center;
}

.fab-icons {
    margin: 20px 10px;
}

.contact-me-links {
    color: #000;
}

.fab-twitter:hover {
    color: aqua;
}

.fab-facebook:hover {
    color: blue;
}

.fab-instagram:hover {
    color: palevioletred;
}

.fab-linkedin:hover {
    color: blue;
}

.fab-mail:hover {
    color: white;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    .row {
        width: 100%;
        margin-left: 15%;
    }
    body {
        font-size: 20px;
    }
    #section-divider {
        width: 2%;
    }
    hr {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
        padding: 7% 15%;
    }
    h2 {
        font-size: 100%;
        width: 100%;
    }
    h3 {
        margin-left: 30%;
        font-size: 2rem;
        line-height: 1.5;
    }
    .tb {
        font-size: 70%;
    }
    .table {
        font-size: 60%;
    }
    .bio {
        padding: 7% 15%;
    }
    #education {
        padding: 7% 15%;
    }
    #certificates {
        padding: 7% 10%;
    }
    .certificates-align {
        width: 100%;
        font-size: 18px;
        line-height: 1.5;
    }
    #skils {
        padding: 7% 10%;
    }
    .skills-align {
        width: 100%;
        font-size: 18px;
        line-height: 1.5;
    }
}